---
import "../styles/global.css";
import { SITE } from "@config/site";

interface Props {
  title?: string;
  description?: string;
}

const { title = SITE.title, description = SITE.description } = Astro.props;
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href={`${baseUrl}/favicon-lcm.png`} />
    <meta name="generator" content={Astro.generator} />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-slate-50 text-slate-900 font-['Google_Sans'] antialiased">
    <main>
      <slot />
    </main>
  </body>
</html>
